.kanha {
  text-align: center;
  color: blue;
  text-shadow: cornsilk;
  height: 46%;
  background-color: red;
  border-radius: 68%;
}
.chalase {
  background-color: teal;
  text-align: center;
  font-size: medium;
}
